<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @user.name %>さんとのチャット</h1>

      <table class="table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
            <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
          </tr>
        </thead>
      </table>
      <div id="message">
       <%= render 'chat', chats: @chats %>
      </div>

      <%= form_with model: @chat, local: false do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
        <%= f.submit class: "d-none" %>
      <% end %>
    </div>
  </div>
</div>